.cl_container_box {
  height: 25px;
  margin-top: 8px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: normal; }

.cl_postbox {
  width: 800px;
  min-width: 255px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  position: relative;
  margin-bottom: 20px;
  padding: 0;
  line-height: 1; }

.cl_inside {
  min-height: 40px;
  margin: 0; }

.cl_postbox .cl_inside {
  margin: 11px 0;
  position: relative;
  padding: 0 12px 12px;
  line-height: 1.4em;
  font-size: 13px; }

.cl_inside > table {
  width: 100%; }

.cl_allboxes > table {
  width: 100%; }

.width100 {
  width: 100%; }

.cl-row {
  clear: both;
  padding-top: 10px;
  width: 100%;
  display: table;
  content: " "; }

.cl-children {
  margin: 10px 10px 0 20px;
  padding: 0 0 10px 10px;
  border-left: 1px solid #ddd; }

.cl-flexible-content-wrap {
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #ddd;
  margin: 5px 0 15px;
  padding: 0 0 15px 0; }

.cl-text-center {
  text-align: center;
  vertical-align: middle; }

.cl-left {
  float: left;
  margin-left: 20px;
  margin-right: 20px; }

.cl-right {
  float: right;
  margin-left: 20px;
  margin-right: 20px; }

.cl-col-1 {
  float: left;
  width: 8.3%;
  display: block; }

.cl-col-2 {
  float: left;
  width: 16.6%;
  display: block; }

.cl-col-3 {
  float: left;
  width: 25%;
  display: block; }

.cl-col-4 {
  float: left;
  width: 33%;
  display: block; }

.cl-col-5 {
  float: left;
  width: 41.6%;
  display: block; }

.cl-col-6 {
  float: left;
  width: 50%;
  display: block; }

.cl-col-7 {
  float: left;
  width: 58.3%;
  display: block; }

.cl-col-8 {
  float: left;
  width: 66.6%;
  display: block; }

.cl-col-9 {
  float: left;
  width: 75%;
  display: block; }

.cl-col-10 {
  float: left;
  width: 83.3%;
  display: block; }

.cl-col-11 {
  float: left;
  width: 91.6%;
  display: block; }

.cl-col-12 {
  float: left;
  width: 100%;
  display: block; }

.js-profile-options a, .js-add-api-key-hidden {
  cursor: pointer; }

.delete-ico {
  padding-left: 5px;
  padding-right: 5px; }

.cl-label {
  padding-top: 5px; }

.cl-form-select {
  width: 100%; }

.cl-form-name {
  width: 99.8%;
  margin-bottom: 0; }

.cl-profile-name {
  vertical-align: middle;
  max-width: 762px;
  border: solid 1px #dedede;
  height: 30px;
  border-radius: 0 4px 2px 0;
  margin-top: 2px;
  padding-left: 10px;
  padding-top: 10px; }

.cl-form-control {
  position: absolute;
  top: 20px;
  right: 0; }

.cl-form-control > a {
  color: black; }

.cl-profile-nav {
  height: 30px;
  padding-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  margin-top: -1px; }

.cl-profile-nav > a {
  border: solid 1px #dedede;
  padding-top: 3px;
  padding-bottom: 4px;
  color: black; }

.cl-profile-nav > a.cl-active {
  background-color: #cdebfe; }

.cl-mt-3 {
  margin-top: 3px !important; }

.cl-pl-0 {
  padding-left: 0; }

.ui-widget-overlay {
  display: none; }

.js-profile-form h3.title {
  height: 25px;
  margin: 8px 0;
  font-size: 15px;
  font-weight: bold; }

.js-profile-form .head {
  font-weight: bold;
  padding: 5px 0; }

.b-popup {
  width: 97.6%;
  height: 100%;
  position: absolute;
  top: 0; }
  .b-popup .b-popup-content {
    width: 97%;
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 10px #999999; }
    .b-popup .b-popup-content h3 {
      margin: 0; }
    .b-popup .b-popup-content p {
      margin: 5px 0 5px 0; }
    .b-popup .b-popup-content ul {
      margin: 5px 0 5px 40px; }
    .b-popup .b-popup-content li {
      list-style: circle;
      margin: 0;
      padding: 0; }

/*# sourceMappingURL=style.css.map */
