body {
    display: none;
}

.clinical-connect #blog-post-content {
    position:relative;
    background-image:none;
}

#blog-post.conversion-content.clinical-connect .post-wrap article p {
    color:initial;
}

.clinical-connect #ih-page-body .full-post p {
    font-size:16px;
    padding: 0;
}

.clinical-connect .blog-form-wrap {
    border:none;
}

#blog-post.clinical-connect .post-wrap {
    padding-bottom:10%;
    z-index:11;
    background:transparent;
    padding-left:16%;
    padding-right:16%;
}

.clinical-connect #blog-post .post-wrap {
    z-index:11;
    background-color:transparent;
}

.clinical-connect #blog-post-content article.content-area-standard.full-post {
    padding:0;
}

.clinical-connect #blog-post-content article p {
    color:#000;
}

.clinical-connect .screen-bg {
    position: absolute;
    width: 100%;
    height: 465px;
    top: 18%;
    background-image: url('http://live-ihcm-ih.cphostaccess.com//assets/images/landing-pages/screens.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 60% 0px;
    z-index: 10;
}

.clinical-connect .product-band {
    padding: 0 16%;
}

.clinical-connect #product-band-1 iframe {
    /*width:400px;
    height:220px;*/
}

.clinical-connect #product-band-1 {
    font-size: 15px;
    background:#22d3c5;
    color:#fff;
    padding-top:150px;
    padding-bottom:50px;
    padding-left:16%;
    padding-right:16%;
}

.clinical-connect #ih-page-body #product-band-1 p {
    font-size: 15px;
    color:#fff;
    padding: 0;
}

.clinical-connect #ih-page-body #product-band-1 strong {
    font-size:16px;
    line-height:20px;
    display:block;
}

.clinical-connect #ih-page-body #product-band-1 ul {
    list-style:disc;
    font-size:15px;
    padding:0 0 0 20px;
    margin:8px 0;
}

.clinical-connect #ih-page-body #product-band-1 ul li {
    font-size:14px;
    margin:8px 0;
    color: #fff;
    padding: 0;
}

.clinical-connect #product-band-2 {
    padding-top:50px;
    padding-bottom:150px;
    background:url('http://live-ihcm-ih.cphostaccess.com/assets/images/landing-pages/cc-bg-smiling-doctor.png') 75% 0 no-repeat;
    background-size:25%;
    padding-left:16%;
    padding-right:16%;
}

#product-band-2 .row > .col-md-6:first-child {
    padding-top: 60px;
}

.clinical-connect #ih-page-body #product-band-2 p {
    font-size:14px;
    margin-bottom:20px;
    color:initial;
    padding: 0;
}

.clinical-connect #ih-page-body #product-band-2 strong {
    font-size:16px;
    line-height:20px;
    display:block;
    margin-bottom:20px;
}

.clinical-connect #product-band-2 .overlay {
    position: absolute;
    width: 236px;
    padding: 14px 20px 20px;
    background: rgba(255,92,74,0.8);
    color: #fff;
    right: 0;
    top: 140px;
}

.clinical-connect #product-band-2 .little {
    font-family: georgia;
    font-style: italic;
    font-size: 13px;
    margin-top: 4px;
}

.clinical-connect #product-band-2 .big {
    font-size: 35px;
    font-weight: 200;
}

.clinical-connect#blog-post #blog-footer {
    /*padding-top:111px;*/
    padding-bottom:0px;
    padding-left:0;
    padding-right:0;
    margin-top:-90px;
}

.clinical-connect#blog-post #blog-footer {
    padding: 50px 0 0;
}

#blog-post #blog-footer {
    background:none;
    padding:0 180px;
}

#ih-page-body .blogEnd {
    font-size:13px;
    text-align:left;
    margin-top:0;
    margin: 0 auto 50px auto;
}

#ih-page-body .blogEnd .additional-content {
    font-size:13px;
}

#ih-page-body .blogEnd p {
    font-size:13px;
    line-height:150%;
    padding: 0;
    color: initial;
}

.clinical-connect#blog-post #blog-footer #tilt {
    position: absolute;
    height: 144px;
    background: #c0cdd5;
    left: -8px;
    top: 60px;
    transform: rotate(3deg);
    right: -3px;
    z-index:0;
    display:none;
}

.clinical-connect#blog-post #blog-footer .bg-wrap {
    background:#c0cdd5;
    padding:70px 16% 20px;
    position:relative;
    z-index:1;
}

.clinical-connect#blog-post #blog-footer .three-col-head {
    padding:0 15px 20px;
    font-size:18px;
    font-weight:700;
}

.clinical-connect#blog-post #blog-footer em {
    font-size:13px;
    font-weight:600;
}

.clinical-connect #product-band-3 {
    padding-top:50px;
    padding-bottom:50px;
}

.clinical-connect #product-band-3 p {
    font-size:14px;
    font-style:italic;
    color:#22d3c5;
    margin-bottom:12px;
}

.clinical-connect #product-band-3 p br {
    line-height:90%;
}

.clinical-connect #product-band-3 p span {
    font-family:Georgia, Times, Times New Roman, serif;
    font-size:14px;
}

.clinical-connect #product-band-3 p strong {
    font-weight:600;
    font-style:normal;
    font-size:14px;
}

@media (min-width:1900px) {
    .clinical-connect .screen-bg {
        height:520px;
        top:15%;
        background-size:1000px;
    }
}

@media (max-width:1899px) {
    .clinical-connect .screen-bg {
        top:17%;
        background-size:850px;
    }
}

@media (max-width:1500px) {
    .clinical-connect .screen-bg {
        top:19%;
        background-size:725px;
        background-position:64% 0;
    }

    .clinical-connect #product-band-2 {
        background-size:30%;
    }
}

@media (max-width:1350px) {
    .clinical-connect .screen-bg {
        top:20%;
        background-size:625px;
    }
}

@media (max-width:1300px) {
    .clinical-connect #product-band-2 {
        background-size:30%;
    }
}

@media (max-width:1200px) {
    .clinical-connect .screen-bg {
        top:21%;
        background-size:550px;
    }

    .clinical-connect #product-band-2 {
        background-size:40%;
    }

    .clinical-connect#blog-post #blog-footer {
        margin-top:-130px;
    }
}

@media (max-width:992px) {
    #blog-post.clinical-connect .post-wrap {
        padding-bottom: 0px;
        padding-left:8%;
        padding-right:8%;
    }

    #blog-post.clinical-connect .post-wrap .content-area-standard.full-post {
        padding:0;
    }

    .clinical-connect .screen-bg {
        display:none;
    }

    .clinical-connect #product-band-1 {
        padding-top:50px;
        padding-left:8%;
        padding-right:8%;
    }

    .clinical-connect #product-band-2 {
        background-size:50%;
        background-position:90% 0;
        padding-left:8%;
        padding-right:8%;
    }

    .clinical-connect #product-band-2 .overlay {
        top:185px;
    }

    .clinical-connect#blog-post #blog-footer .bg-wrap {
        padding-left:8%;
        padding-right:8%;
    }

    #blog-footer .additional-content .col-md-4 {
        margin-bottom:20px;
    }

    .clinical-connect #product-band-3 {
        padding-left:8%;
        padding-right:8%;
    }

    #product-band-3 .band-wrapper .col-md-6 {
        margin-bottom:40px;
    }
}

@media (max-width:768px) {
    .clinical-connect #product-band-1 .band-wrapper .col-sm-6:nth-of-type(2) {
        margin-top:20px;
    }

    .clinical-connect #product-band-2 {
        background:none;
    }

    .clinical-connect #product-band-2 .overlay {
        display:none;
    }
}

/* Multi Landing Page Campaign - Sept 2017 */

#blog-post.conversion-content.clinical-connect h2 {
    font-family: "Gotham SSm A", "Gotham SSm B", Arial;
}

#blog-post.conversion-content.clinical-connect .post-wrap article p {
    color:#000;
}

#blog-post.conversion-content.clinical-connect .post-wrap article p em {
    font-size:15px;
}

.clinical-connect #product-band-2 p {
    color:#000;
}

.slideshare-link, .lightbox-link {
    display:block;
    text-align:center;
}

/* Star */

#blog-post.clinical-connect.campaign .post-wrap {
    /*padding-bottom: 14%;*/
    background-repeat: no-repeat;
    background-position: 75% bottom;
    background-size: 750px;
    background-image: url('http://live-ihcm-ih.cphostaccess.com/assets/images/landing-pages/star-lady.png');
    position: relative;
}

#blog-post.clinical-connect.campaign .post-wrap article .row .col-md-6:nth-child(2) {
    padding-bottom: 350px;
}

.clinical-connect.campaign .post-wrap h2 {
    color: #000;
}

.clinical-connect.campaign .screen-bg {
    display:none;
}

.clinical-connect.campaign #product-band-1 {
    background:#bfced6;
    color:inherit;
    margin-top: -64px;
    padding-top:70px;
}

.clinical-connect.campaign #product-band-1 img {
    width:100%;
}

.clinical-connect.campaign #product-band-1 .lightbox-link img {
    max-width:400px;
}

.clinical-connect.campaign .star #ih-page-body #product-band-1 p {
    color: #000;
}

.clinical-connect.campaign #product-band-1 p em {
    font-size:15px;
}

.clinical-connect.campaign #product-band-2 {
    background-image:url('http://live-ihcm-ih.cphostaccess.com/assets/images/landing-pages/dark-bg.png');
    background-size:cover;
    background-position:top center;
    padding-bottom:50px;
}

.clinical-connect.campaign #product-band-2 .row .band-wrapper > .col-md-6:first-child {
    padding: 0 60px 0 0;
}

#product-band-2 img.pie-img {
    margin: 0 0 0 40px;
    max-width: 500px;
}

.clinical-connect.campaign#blog-post #blog-footer, .clinical-connect.campaign #product-band-3, .clinical-connect.campaign #product-band-2 .overlay {
    display:none;
}

@media (max-width: 1200px) {
    .conversion-content #product-band-2 img {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    #blog-post.clinical-connect.campaign .star .post-wrap {
       background-position: 87% bottom;
       background-size: 500px;
    }

    .clinical-connect.campaign .star #product-band-1 {
        margin-top: -43px;
    }
}

@media (max-width: 768px) {
    #blog-post.clinical-connect.campaign .post-wrap {
        background-position:42% bottom;
    }

    #blog-post.clinical-connect.campaign .post-wrap .content-area-standard .row {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        display: flex;
        flex-direction: column;
    }

    #blog-post.clinical-connect.campaign .post-wrap article .row .col-md-6:nth-child(2) {
        padding-bottom:500px;
    }

    #blog-post.clinical-connect.campaign .star .post-wrap article .row .col-md-6:nth-child(2) {
        padding-bottom:350px;
    }

    .clinical-connect.campaign #product-band-2 {
        background-image:none;
        padding: 80px 0 0 0;
    }

    .clinical-connect.campaign #product-band-2 .row .band-wrapper > .col-md-6:first-child {
        padding: 0 8% 60px;
    }

    .clinical-connect.campaign #product-band-2 .row .band-wrapper > .col-md-6:last-child {
        padding:80px 8% 80px;
        background-color: #333;
        text-align:center;
    }

    .clinical-connect.campaign #product-band-2 img {
        margin:0;
    }
}

/* Cover */

#blog-post.clinical-connect.campaign .cover .post-wrap {
    background-size:650px;
    background-image: url('http://live-ihcm-ih.cphostaccess.com/assets/images/landing-pages/cover.png');
}

#blog-post.clinical-connect.campaign .cover .post-wrap article .row .col-md-6:nth-child(2) {
    padding-bottom:400px;
}

.clinical-connect.campaign .cover #product-band-1 {
    margin-top:-123px;
    padding-top:130px;
    padding-bottom:80px;
}

.clinical-connect.campaign .cover #ih-page-body #product-band-1 p {
    color: #000;
}

@media (max-width:992px) {
    #blog-post.clinical-connect.campaign .cover .post-wrap article .row .col-md-6:nth-child(2) {
        padding-bottom:500px;
    }
}

@media (max-width:992px) {
    #blog-post.clinical-connect.campaign .cover .post-wrap article .row .col-md-6:nth-child(2) {
        padding-bottom:550px;
    }
}

/* Magnet */

#blog-post.clinical-connect.campaign .magnet .post-wrap {
    background-size:850px;
    background-position: right bottom;
    background-image: url('http://live-ihcm-ih.cphostaccess.com/assets/images/landing-pages/magnet-bg-2.png');
}

.clinical-connect.campaign .magnet #product-band-1 {
    margin-top:-123px;
    padding-top:130px;
    padding-bottom:80px;
}

.clinical-connect.campaign .magnet #ih-page-body #product-band-1 p {
    color: #000;
}

@media (max-width:768px) {
    #blog-post.clinical-connect.campaign .magnet .post-wrap {
        background-position:left bottom;
    }
}

@media (max-width:500px) {
    #blog-post.clinical-connect.campaign .magnet .post-wrap {
        background-size:650px;
    }
    #blog-post.clinical-connect.campaign .magnet .post-wrap article .row .col-md-6:nth-child(2) {
        padding-bottom: 400px;
    }
}

/* Stack */

#blog-post.clinical-connect.campaign .stack .post-wrap {
    background-size:450px;
    background-image: url('http://live-ihcm-ih.cphostaccess.com/assets/images/landing-pages/phone-hand.png');
}

.clinical-connect.campaign .stack #product-band-1 {
    margin-top:0;
}

.clinical-connect.campaign .stack #ih-page-body #product-band-1 p {
    color: #000;
}

@media (max-width:992px) {
    #blog-post.clinical-connect.campaign .stack .post-wrap article .row .col-md-6:nth-child(2) {
        padding-bottom: 500px;
    }
}