body {
    /* display: none; */
}

#customList {
    width: 1320px;
    margin: 0 auto;
}

.grid-item {
    /*float: left;*/
    width: 300px;
    height: auto;
    margin-bottom: 30px;
}

#blog-index .comp-sol-title {
    position: relative;
    margin-bottom: 50px;
}

#blog-index .comp-sol-title:after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: #2bd3c6;
    left: 15px;
    top: 50%;
    z-index: 0;
    right: 0;
}

#blog-index h2 {
    color: #2bd3c6;
    border: 4px solid #2bd3c6;
    padding: 14px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #fff;
    z-index: 1;
    display: inline-block;
    position: relative;
    height: 100%;
    text-shadow: none;
}

.blog-grid > div, #ih-page-body > div {
    padding: 0 8%;
    max-width: 1600px;
    margin: 0 auto;
}

.blog-grid article {
  background-color: #fff;
  position: relative;
  margin-bottom: 20px;
  padding: 20px 50px 0 50px;
}

.blog-grid article > a {
  height: 180px;
  display: block;
  overflow: hidden;
}

.blog-grid-text {
  padding: 8px 8px 20px;
  border-bottom: 16px solid #f9f9f9;
  transition: all 300ms ease-out;
  margin-bottom: 30px;
}

.blog-grid-text:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.blog-grid-text h3 a {
  color: #333;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 18px;
}

#blog-index .Events .blog-grid article {
  min-height:0;
  padding-bottom:0;
  background:none;
}

#blog-index .Events .blog-grid article > a {
  max-height:150px;
  border:1px solid #e9e9e9;
}

#blog-index .Events .blog-grid article > a .img-responsive {
  max-height:150px;
  max-width:370px;
  margin:0 auto;
}

#blog-index .Events .blog-grid article .blog-grid-text {
  display:none;
}

@media (max-width:1550px) {
    #customList {
        width: 990px;
    }
}

@media screen and (max-width:1280px) {
  
 .blog-grid article > a {
   height:125px;
 }
  
}

.blog-grid-text h3 {
  min-height: 100px;
  font-size: 0.9em;
}

@media screen and (max-width:1220px) {
  
 .blog-grid-text h3 {
   font-size:0.75em;
 }
  
}

@media (max-width:1140px) {
    #customList {
        width: 660px;
    }
}

@media screen and (max-width:991px) {
  
  .blog-grid-text h3 {
     font-size:1.0em;
   }

  #blog-index .Events .blog-grid article > a .img-responsive {
    max-height: 100%;
    width: initial !important;
  }
  
}

@media (max-width:768px) {
    #customList {
        width: 330px;
    }
}

.blog-grid-text .excerpt {
  display: block;
  font-size: 15px;
}
  
.blog-grid-text .excerpt p {
  color: #8c8c8c;
  min-height: 125px;
  font-weight: 100;
  font-size: 0.8em;
  line-height: 1.25em;
}

.blog-grid-text .excerpt a {
  display: inline;
  margin: 0;
  color: #00ada2;
  border: none;
  font-size: 15px;
  padding: 0 0 0 8px;
}

.blog-grid-footer {
  padding: 15px 0 0;
  border-top: 1px solid #646464;
  margin: 0 20px;
  display:none;
}

.blog-grid-footer p {
  font-size: 0.7em;
}

.blog-grid-footer p:first-child {
  padding-bottom: 10px;
}

.blog-grid-footer p a {
  font-weight: 500;
  font-size: inherit;
}

/************* press release *************/

.press-release .text-center {
    text-align:left;
}

.press-release .stacked-lg {
    margin-top:0;
}

.press-release #blog-index-content {
    padding-left:12%;
    padding-right:12%;
}

.press-release .topic-share-wrap {
    display:none;
}

.pressrelease .press-release .main-content {
    padding: 0 20% 0 0;
}

.pressrelease .press-release .article-head {
    margin: 0 0 50px;
}
.pressrelease .press-release .article-head-img {
    display: inline-block;
    max-width: 42%;
}
.pressrelease .press-release .article-head-img img {
    max-width: 100%;
    padding-right: 30px;
    height:inherit;
}
.pressrelease .press-release .article-head-text {
    display: inline-block;
    vertical-align: bottom;
    max-width:55%;
}

#blog-post-content .press-release h2.title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

#blog-post-content .press-release .subtitle {
    font-size: 18px;
    font-style: italic;
    font-family: Georgia, serif;
    margin-bottom: 8px;
}

.pressrelease .press-release .article-head-text .date-links .article-date {
    display: inline-block;
    font-size:22px;
}
.pressrelease .press-release .article-head-text .date-links .article-links {
    display: inline-block;
    position:relative;
    padding:0 0 0 10px;
    vertical-align:top;
}

.pressrelease .press-release .addthis_sharing_toolbox {
    position:initial !important;
}

#blog-post-content .press-release .article-body p, #blog-post-content .press-release .article-body li {
    color:inherit;
    font-size:15px;
    line-height:23px;
}

#blog-post-content .press-release .article-body p a {
    font-size:15px;
}

#blog-index .stacked-lg {
    margin-top: 0;
}

#blog-index .text-center {
    text-align: left;
}

@media (max-width:1250px) {
    .pressrelease .press-release .main-content {
        padding: 0 10% 0 0;
    }
}

@media (max-width:1100px) {
    .pressrelease .press-release .article-head-text .date-links .article-date {
        display: block;
        font-size: 22px;
        margin-bottom: 8px;
    }
    .pressrelease .press-release .article-head-text .date-links .article-links {
        display: block;
        position: relative;
        padding: 0;
    }
}

@media (max-width:992px) {
    .pressrelease .press-release .article-head-img {
        display: block;
        max-width: 50%;
    }
    .pressrelease .press-release .article-head-text {
        display: block;
        vertical-align: bottom;
        max-width: 100%;
    }
    .pressrelease .press-release .article-head-text .date-links .article-date {
        display: inline-block;
        font-size: 22px;
        margin-bottom: 0px;
    }
    .pressrelease .press-release .article-head-text .date-links .article-links {
        display: inline-block;
        position: relative;
        padding: 0 0 0 10px;
    }
}

@media (max-width:768px) {
    .pressrelease .press-release .article-head-img {
        max-width:100%;
    }
}

@media (max-width:610px) {
    #blog-index h1, #blog-post.pressrelease h1 {
        font-size:15px;
    }
    .pressrelease .press-release .article-head-text .date-links .article-date {
        display: block;
        font-size: 22px;
        margin-bottom: 8px;
    }
    .pressrelease .press-release .article-head-text .date-links .article-links {
        display: block;
        position: relative;
        padding: 0;
    }
}

@media screen and (min-width: 992px) {
    
  .press-release-title {
    margin-top: 0;
  }
}