body {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-style: normal;
    font-weight: 300;
}

#navbar {
    position: relative;
}

#navbar .header-logo-holder {
    display: inline-block;
    width: 39%;
}

#navbar .header-form-holder {
    display: inline-block;
    width: 60%;
    text-align: right;
}

.navbar-header { /* mobile nav bar */
    display: none;
}

.navbar .container .container {
    position: absolute;
    width: auto;
    left: 310px;
    margin-left: -10%;
    top: 12px;
}

ul.nav.navbar-nav.text-center li {
    padding-bottom: 9px;
}

ul.nav.navbar-nav.text-center li a {
    padding-bottom: 6px;
}

#top-banner.jumbotron {
    padding: 65px 0 0;
    /*background: url(http://www.influencehealth.com/_assets/images/blog/aee44fc32e47f07b5fe3050745ad94ac.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    position: relative;
    margin: 0;
    height: 740px;
}

#top-banner.jumbotron:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

/* jumbo video styles */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    /*position: relative;*/
    position: absolute;
    width: 100%;
    max-height: 100%;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/* end jumbo video styles */

#top-banner.jumbotron .container.overlay {
    color: #fff;
    position: relative;
    top: 30%;
}

#top-banner.jumbotron .container.overlay #video-overlay {
    text-align: center;
    font-size: 5em;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}

.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    z-index: 10;
    background-color: #fff;
    background-image: none;
    border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li a {
    text-shadow: none !important;
    color: #40333c;
    font-size: 14px;
}

.navbar-inverse .navbar-nav > li a:hover {
    color: #f57f51;
    border-bottom: 1px solid #f57f51;
}

#navbar > ul.navbar-right {
    margin-top: 10px;
}

#navbar > ul.navbar-right > li {
    margin-right: 8px;
    position: relative;
}

/* PDF button hover */

#navbar > ul.navbar-right > li .holder {
    /*padding: 10px 15px;*/
    display: inline-block;
}

#navbar > ul.navbar-right > li a {
    color: #fff;
    background-color: #594349;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0px 0px 2px 1px #a59e9e;
    transition: all ease-in 300ms;
    /**/
    padding: 10px 15px;
    display: inline-block;
}

#navbar > ul.navbar-right > li a.download {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#navbar > ul.navbar-right > li a.learn {

}

#navbar > ul.navbar-right > li .holder:hover a.download, #navbar > ul.navbar-right > li .holder:active a.download, #navbar > ul.navbar-right > li .holder:focus a.download {
    opacity: 1;
    text-decoration: none;
}

#navbar > ul.navbar-right > li a.header-register-btn {
    background-color: #f57f51;
    opacity: 0;
}

.register a.header-register-btn {
    display: none;
}

nav.navbar .header-logo {
    width: 180px;
    margin: 20px 0;
}

.header-logo.mobile {
    display: none;
}

.mobile-register-btn {
    display: inline-block;
    float: right;
    top: 24px;
    position: relative;
    right: 12px;
}

.mobile-register-btn .header-register-btn {
    display: none;
    color: #fff;
    background-color: #f57f51;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0px 0px 2px 1px #a59e9e;
    transition: all ease-in 300ms;
    padding: 8px 10px;
}

.navbar .input-group .form-control {
    border-right: none;
    background:#ccc;
}

.navbar .input-group .btn-default {
    background-image: none;
    border-left: none;
    background: #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.navbar .input-group .btn-default:hover {
    border-color: transparent;
}

.menu-button-holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    width: 200px;
    color: #fff;
}

.menu-button-holder .navbar-toggle {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
}

.menu-button-holder .navbar-toggle div {
    display: inline-block;
}

/* end navbar */

div#pin1 {
    /*z-index: 100;*/
}

#pin1 > p > a {
    font-size: 22px;
    text-transform: uppercase;
    background-color: #f57f51;
    background-image: none;
    border-color: #f57f51;
    padding: 20px 40px;
}

/* Under video ribbon */

.under-video {
    background: #2f2933;
    color: #fff;
    padding: 50px 0;
}

.under-video .button-holder {
    text-align: right;
}

.under-video .cta-button {
    padding: 10px 12px;
    background: #f74a28;
    color: #fff;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
}

/* Partners ribbon */

.partners {
    padding: 50px 0;
    text-align: center;
}

.partners .partner-title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    padding: 0 0 28px;
}

/* "About" ribbon */

.about {
    padding: 50px 0 10px;
}

.about .container .table-holder {
    display: table;
    width: 100%;
}

.about .container .left {
    background: #2bd3c6;
    padding: 20px;
    display: inline-table;
    width:100%;
}

.about .container .left .about-vid-holder {
    display: table-cell;
    width: 60%;
}

.about .container .left .about-vid-holder iframe {
    /*width: 390px;*/
}

.about .container .left .about-vid-title {
    display: table-cell;
    width: 40%;
    vertical-align: middle;
}

.about .container .left .about-vid-title .about-vid-link {
    text-align: center;
}

.about .container .right {
    display:table-cell;
    width: 29%;
    padding-left: 8px;
    vertical-align: top;
    height: 100%;
}

.about .container .right > div {
    background: #f2f2f2;
    margin: 0 0 10px;
    display: table;
    width: 100%;
    height: 48.4%;
}

.about .container .right > div.bottom {
    margin-bottom: 0;
}

.about .container .right > div .overlay {
    display: table-cell;
    text-align: center;
    padding: 20px;
    vertical-align: middle;
}

/**** Giant CTA section ***/

.giant-cta-holder {

}

.giant-cta-holder .giant-cta {
    background:#f2f2f2;
    padding-top:40px;
    padding-bottom:40px;
    text-align: center;
}

.giant-cta-holder .giant-cta .giant-cta-top {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 160%;
    letter-spacing: 1.1px;
}

.giant-cta-holder .giant-cta .giant-cta-bottom {
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

/***** End giant cta section ***/

/* Knowledge to go ribbon */

.homepage-ktg {
    padding: 50px 0;
}

.homepage-ktg .header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.homepage-ktg .col-md-3 {

}

.homepage-ktg .col-md-3 .category {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    margin-bottom: 12px;
}

.homepage-ktg .col-md-3 .img-hold {
    margin-bottom: 12px;
}

.homepage-ktg .col-md-3 .img-hold img {
    width: 100%;
}

.homepage-ktg .col-md-3 .text {

}

.homepage-ktg .col-md-3 .text .title {
    text-align: center;
}

.homepage-ktg .col-md-3 .text .blurb {
    text-align: justify;
}

/*** End KTG Ribbon ****/

/***** Careers / Events ribbon *****/

.careers-events-band {

}

.careers-events-band > div > div {
    display: inline-block;
    width: 49%;
    background: #f2f2f2;
    text-align: center;
    vertical-align: middle;
    padding: 40px 60px;
}

/**** end careers / events ******/

/*** footer band ****/

.footer-holder {
    margin: 40px 0 0;
}

.footer-holder .footer-top {
    position: relative;
    z-index: 0;
}

.footer-holder .footer-top .container {
    background: url('../images/footer-stewie.gif') left bottom no-repeat;
    background-size: 300px;
    padding-top: 100px;
}

.footer-holder .footer-top > div > div {
    display: inline-block;
    padding: 20px 30px;
    text-align: right;    
}

.footer-holder .footer-top .footer-top-text {
    padding-left: 350px;
    text-align: left;
    width: 70%;
}

.footer-holder .footer-top .footer-top-form {
    width: 29%;
}

.footer-holder .footer-bottom {
    background: #a8a9ad;
    border-top: 130px solid #f2f2f2;
    margin-top: -130px;
}

.footer-holder .footer-bottom .container {
    padding-top: 80px;
    padding-bottom: 100px;
}

/********** Sidenav slide-out menu ***********/

#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    padding-top: 0px;
    transition: 0.5s;
}

#sidenav.open {
    width: 63%;
}

#sidenav .container {
    max-width: 100%;
}

.sidenav-header {
    padding: 18px 10px;
}

.sidenav-header > div {
    display: inline-block;
}

.cxp-band {
    width: 100%;
    background:#23d3c6;
}

.cxp-band .col-md-6 {
    padding: 18px 0;
    color: #fff;
}

.cxp-band .bold-head {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.cxp-band .product-name {
    font-size: 26px;
    font-weight: 200;
    line-height: 100%;
}

.cxp-band .text {
    font-size: 12px;
}

.cxp-band .img-wrap {
    text-align: center;
}

.cxp-band .img-wrap img {
    width: 170px;
}

.cxp-btn-holder {
    width: 100%;
}

.cxp-btn-holder .cxp-btn {
    width: 100%;
    padding: 16px 8px;
    color: #fff;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

.cxp-btn-holder .cxp-btn:hover {
    text-decoration: none;
    background: #00968d;
}

.cxp-btn-holder .cxp-btn span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-style: italic;
    display: block;
    text-transform: capitalize;
}

.sidenav-content-left {
    padding-top: 20px;
}

.sidenav-content h4 {
    color: #888;
    font-size: 12px;
    margin-top: 0;
}

.sidenav-content .col-md-6 {
    border-left:2px solid #23d3c6;
}

.sidenav-content .nav-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.sidenav-content .nav-menu li a {
    color: #fff;
    text-transform: uppercase;
}

.sidenav-content-left-middle {
    padding:0;
}

.sidenav-content-left-middle .img-wrap {
    margin:20px 0;
}

.sidenav-content-left-middle img {
    max-width: 100%;
}

.sidenav-content-right {
    padding-top: 20px;
}

.menu-content {
    margin-bottom: 30px;
}

.menu-content .img-wrap img {
    max-width: 100%;
}

.menu-content h4 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin: 8px 0;
}

.menu-content .text {
    font-weight: 300;
    color: #fff;
    font-size: 12px;
}